#root {
  background-color: #1e1f20;
}

.container {
  display: flex;
  width: 100vw;
  height: 100vh;
}

.section-l {
  flex: 1;
  padding: 100px;
}
.section-r {
  background-color: rgb(45, 45, 45);
  width: 100vh;
  flex: 1;
  padding: 16px;
}

h1 {
  color: black;
}

.bg-table {
  padding: 16px;
  
  border-radius: 12px;

}

