#root {
  background-color: #181818; /*#1e1f20;*/
}

.container {
  display: flex;
  width: 100vw;
  height: 100vh;
}

.section-l {
  flex: 1;
  padding: 100px;
  color: #FFFFFF;
}
.section-r {
  background-color: #212121;/* rgb(255, 255, 255);*/
  flex: 1;
  color: #B0B0B0;
  padding: 100px;
}

h1 {
  color: white;
}

.bg-table {
  padding: 16px;
  
  border-radius: 12px;

}

